/* Variables */
/* Global */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin: 0;
}

/* Header */
.nav-layout {
  height: 100vh;
  position: relative;
  background-image: url("/images/background-image.png");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.nav-layout .navigation {
  padding-top: 50px;
}

.nav-layout .navigation .menu {
  float: right;
}

.nav-layout .navigation a {
  padding: 0 20px 0 20px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 1s;
}

.nav-layout .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.nav-layout .title a {
  padding: 20px 50px;
}

.nav-layout .title .btn {
  background: #fed136;
  font-size: 18px;
  font-weight: bold;
  border: none;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}

.nav-layout .title .btn:hover {
  background: white;
  color: #fed136;
}

h1 {
  font-size: 75px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

h2 {
  font-size: 40px;
  font-family: "Droid Serif";
  color: white;
  font-style: italic;
}

/* Skills */
.container {
  padding: 120px 0 120px 0;
}

h3 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

h4 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

p {
  text-align: center;
  font-size: 14px;
  color: #777;
  font-family: "Roboto Slab", serif;
  margin-top: 10px;
}

.services {
  padding-bottom: 120px;
}

.services .column {
  text-align: center;
  padding-bottom: 20px;
}

.services .column-text {
  padding: 0 25px 0 25px;
}

.offer {
  padding: 30px 0 30px 0;
}

.offer p {
  font-size: 14px;
  font-family: "Droid Serif";
  margin: 5px;
  font-style: italic;
}

.card {
  background: white;
  border: none;
  margin-bottom: 50px;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.skills {
  padding-bottom: 50px;
}

.skills p {
  text-align: center;
  font-size: 16px;
  color: #777;
  font-family: "Droid Serif";
  font-style: italic;
}

.skills-layout {
  background: #f7f7f7;
}

/* Footer */
.row {
  position: relative;
}

.footer {
  padding: 40px 0 40px 0;
}

.footer .copyright {
  padding-top: 5px;
}

.footer ul {
  margin: 0;
}

.footer .list-inline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
}

.footer .list-inline li {
  background: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
}

.footer .list-inline li:first-child:hover {
  background: #00aced;
}

.footer .list-inline li:nth-child(2):hover {
  background: #3b5998;
}

.footer .list-inline li:nth-child(3):hover {
  background: #cb2028;
}

.footer .list-inline li:last-child:hover {
  background: #da2713;
}

.footer .list-inline li i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* Media */
@media (max-width: 767px) {
  .navigation {
    position: relative;
  }
  .navigation img {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    display: table;
  }
  h1 {
    font-size: 55px;
    padding-bottom: 20px;
  }
  h2 {
    font-size: 30px;
  }
  .footer {
    padding-top: 90px;
    padding-bottom: 140px;
  }
  .footer .copyright {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 60px;
  }
}
/*# sourceMappingURL=style.css.map */