/* Variables */

$font-main: 'Montserrat', sans-serif;
$font-text: 'Roboto Slab', serif;
$font-text-2: "Droid Serif";
$transition: all 1s;

/* Global */

body {
  font-family: $font-main;
  font-size: 16px;
}

/* Header */

.nav-layout {
  height: 100vh;
  position: relative;
  background-image: url('/images/background-image.png');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  .navigation {
    padding-top: 50px;

    .menu {
      float: right;
    }

    a {
      padding: 0 20px 0 20px;
      text-decoration: none;
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      transition: $transition;
    }
  }

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    text-align: center;

    a {
      position: absolute;
      left: 50%;
      transform:translate(-50%,0);
      padding: 20px 50px;
    }

    .btn {
      background: #fed136;
      font-size: 18px;
      font-weight: bold;
      border: none;
      color: #fff;
      text-decoration: none;

      &:hover {
        background: white;
        color: #fed136;
      }
    }
  }
}

h1 {
  font-size: 75px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

h2 {
  font-size: 40px;
  font-family: $font-text-2;
  color: white;
  font-style: italic;
}

/* Skills */

.container {
  padding: 120px 0 120px 0;
}

h3 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

h4 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

p {
  text-align: center;
  font-size: 14px;
  color: #777;
  font-family: $font-text;
  margin-top: 10px;
}

.services {
  padding-bottom: 0;
  margin-bottom: 0;

  .column {
    position: absolute;
    top: 8%;
    left: 50%;
    transform:translate(-50%,0);
    text-align: center;
  }

  .column-text {
    padding: 0 25px 0 25px;
  }
}

.offer {
  padding: 30px 0 30px 0;

  p {
    font-size: 14px;
    font-family: $font-text-2;
    margin: 5px;
    font-style: italic;
  }
}

.card {
  background: white;
  border: none;
  margin-bottom: 50px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.skills {
  padding-bottom: 50px;

  p {
    text-align: center;
    font-size: 16px;
    color: #777;
    font-family: $font-text-2;
    font-style: italic;
  }
}

.skills-layout {
  background: #f7f7f7;
}

/* Footer */

.row {
  position: relative;
}

.footer {
  padding: 40px 0 40px 0;

  .copyright {
    padding-top: 5px;
  }

  .list-inline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    padding: 0;

    li {
      background: black;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: relative;
      list-style-type: none;
      display: inline-block;
      margin-right: 10px;
      bottom: 10px;

      &:first-child {

        &:hover {
          background: #00aced;
        }
      }

      &:nth-child(2) {

        &:hover {
          background: #3b5998;
        }
      }

      &:nth-child(3) {

        &:hover {
          background: #cb2028;
        }
      }

      &:last-child {

        &:hover {
          background: #da2713;
        }
      }

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%,-50%);
        color: white;
      }
    }
  }
}

/* Media */

@media (max-width: 767px) {

  h1 {
    font-size: 55px;
    padding-bottom: 30px;
  }

  h2 {
    font-size: 30px;
    padding-bottom: 30px;
  }

  .btn {
    white-space: nowrap;
  }

  .footer {
    padding-top: 90px;
    padding-bottom: 140px;

    .copyright {
      position: absolute;
      top: 50%;
      left: 50%;
      transform:translate(-50%,-50%);
      margin-top: 60px;
    }
  }
}

/*# sourceMappingURL=style.css.map */
